<!--The content below is only a placeholder and can be replaced.-->
<div fxLayout="column">
  <p class="result">{{ text }}</p>
  <p class="error" *ngIf="error">{{ error }}</p>
  <div fxLayout="row" class="input-container">
    <div fxLayout="column" fxFlex="50%" fxFlex.gt-xs="33">
      <div fxLayout="row" fxLayoutAlign="space-around stretch" fxFlex="25">
        <button class="btn-input number" (click)="typeCharacter(7)">7</button>
        <button class="btn-input number" (click)="typeCharacter(8)">8</button>
        <button class="btn-input number" (click)="typeCharacter(9)">9</button>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-around stretch" fxFlex="25">
        <button class="btn-input number" (click)="typeCharacter(4)" fxflex>
          4
        </button>
        <button class="btn-input number" (click)="typeCharacter(5)">5</button>
        <button class="btn-input number" (click)="typeCharacter(6)">6</button>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-around stretch" fxFlex="25">
        <button class="btn-input number" (click)="typeCharacter(1)">1</button>
        <button class="btn-input number" (click)="typeCharacter(2)">2</button>
        <button class="btn-input number" (click)="typeCharacter(3)">3</button>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-around stretch" fxFlex>
        <button class="btn-input number" (click)="typeCharacter(0)">0</button>
        <button class="btn-input number">,</button>
        <button
          class="btn-input number"
          disabled
          fxShow.gt-xs="true"
          fxShow="false"
        ></button>
        <button
          class="btn-input number"
          (click)="calculate()"
          fxShow.gt-xs="false"
          fxShow="true"
        >
          =
        </button>
      </div>
    </div>
    <div fxLayout="column" fxFlex="50%" fxFlex.gt-xs="33">
      <div
        fxLayout.gt-xs="row"
        fxLayout="column-reverse"
        fxLayoutAlign="space-evenly stretch"
        fxFlex.gt-xs="25"
        fxFlex="40"
      >
        <button class="btn-input operation" (click)="typeCharacter('÷')">
          ÷
        </button>
        <button class="btn-input operation" (click)="remove()">⌫</button>
      </div>
      <div
        fxLayout.gt-xs="row"
        fxLayout="column"
        fxLayoutAlign="space-evenly stretch"
        fxFlex.gt-xs="25"
        fxFlex="20"
      >
        <button class="btn-input operation" (click)="typeCharacter('×')">
          ×
        </button>
        <button
          class="btn-input operation"
          disabled
          fxShow.gt-xs="true"
          fxShow="false"
        ></button>
      </div>
      <div
        fxLayout.gt-xs="row"
        fxLayout="column"
        fxLayoutAlign="space-evenly stretch"
        fxFlex.gt-xs="25"
        fxFlex="20"
      >
        <button class="btn-input operation" (click)="typeCharacter('-')">
          -
        </button>
        <button
          class="btn-input operation"
          disabled
          fxShow.gt-xs="true"
          fxShow="false"
        ></button>
      </div>
      <div
        fxLayout.gt-xs="row"
        fxLayout="column"
        fxLayoutAlign="space-evenly stretch"
        fxFlex
      >
        <button class="btn-input operation" (click)="typeCharacter('+')">
          +
        </button>
        <button
          class="btn-input operation"
          (click)="calculate()"
          fxShow.gt-xs="true"
          fxShow="false"
        >
          =
        </button>
      </div>
    </div>
    <div
      fxLayout="column"
      fxFlex.gt-xs="34%"
      fxFlex.gt-xs="0%"
      class="science-container"
      fxShow.gt-xs="true"
      fxShow="false"
    >
      <div fxLayout="row" fxLayoutAlign="space-between stretch" fxFlex="20">
        <button class="btn-input number science">INV</button>
        <button class="btn-input number science">GRAD</button>
        <button class="btn-input number science">%</button>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between stretch" fxFlex="20">
        <button class="btn-input number science">sin</button>
        <button class="btn-input number science">cos</button>
        <button class="btn-input number science">tan</button>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between stretch" fxFlex="20">
        <button class="btn-input number science">ln</button>
        <button class="btn-input number science">log</button>
        <button class="btn-input number science">√</button>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between stretch" fxFlex="20">
        <button class="btn-input number science">&Pi;</button>
        <button class="btn-input number science">e</button>
        <button class="btn-input number science">^</button>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between stretch" fxFlex>
        <button class="btn-input number science">(</button>
        <button class="btn-input number science">)</button>
        <button class="btn-input number science">!</button>
      </div>
    </div>
  </div>
</div>
